@media only screen and (min-width: 60em) {
  header {
    background-color: darkolivegreen;
    border-radius: 15px;
  }
  img.smalllogo {
    max-width: 150px;
    padding: 0;
    margin: 0;
  }
  img.social {
    max-width: 40px;
  }
  /*cambiar*/
  .maingrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-gap: 10px;
    padding: 10px;
  }
  .maingrid section {
    padding: 10px;
    text-align: center;
    height: auto;
    background-color: transparent;
    border-radius: 10px;
  }
  #event {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  #weather {
    grid-row: 2/3;
    grid-column: 1/2;
  }
  #join {
    grid-row: 3/4;
    grid-column: 1/2;
  }
  #hero {
    grid-column: 2/4;
    grid-row-start: 1;
    grid-row-end: 3;
  }
  #hero img{
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
  }
  #news {
    grid-row: 3/4;
    grid-column: 2/4;
  }
  #spo {
    grid-column: 4/5;
    grid-row: 1/4;
    display: grid;
    grid-template-rows: 1fr 1fr;
  }

  /* perrrrooo */
  nav {
    background-color: darkolivegreen;
    margin: 0 auto;
    max-width: 780px;
    border-radius: 10px;
    margin: auto 0;
  }
  nav a {
    font-size: 1.1rem;
  }
  nav ul {
    list-style-type: none;
    overflow: hidden;
    padding-left: 0;
  }
  nav ul li a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 0.75rem;
    text-decoration: none;
    font-size: 0.95rem;
    /*background: linear-gradient(90deg, transparent, yellow, transparent) top /
		var(--d, 0) 10px no-repeat;
	transition: 0.5s;*/
  }
  .active {
    color: #ffc800;
  }


   /*DIRECTORY*/
   .filter-buttons {
    display: flex;
    margin-bottom: 20px;
    position: relative;
    margin-left: 12.5em;
  }

  .list-button,
  .grid-button {
    display: inline;
    background-color: darkolivegreen;
    color: white;
    border: 1px solid white;
    padding: 5px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 3px;
  }

  .list-button:hover,
  .grid-button:hover {
    background: white;
    color: darkolivegreen;
  }

  .list-button {
    margin-right: 10px;
  }

  li {
    border-radius: 3px;
    margin-bottom: 10px;
    transition: 0.3s;
  }

  .directoryView.list-view-filter div {
    display: block;
  }

  .directory {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 850px;
    margin: 0 auto;
  }
}
