@media only screen and (min-width: 32.5em) {
  header {
    background-color: darkolivegreen;
    border-radius: 15px;
  }
  header,
  footer {
    margin: auto 0;
    border-radius: 15px;
  }

  img#coolors {
    min-width: 400;
  }

  img.smalllogo {
    max-width: 80px;
    padding: 0;
    margin: 0;
  }
  img.social {
    max-width: 30px;
  }

  
  /*maingrid*/
  .maingrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 1em;
    padding: 1em;
  }
  .maingrid section {
    padding: 10px;
    text-align: center;
    height: auto;
    background-color: transparent;
    border-radius: 10px;
  }
  #event {
    grid-column: 1/3;
    grid-row: 5/6;
  }
  #weather {
    grid-row: 5/6;
    grid-column: 3/4;
  }
  #join {
    grid-row: 4/5;
    grid-column: 1/4;
  }
  #hero {
    grid-column: 1/4;
    grid-row: 1 / 2;
    padding: 0;
  }
  #spo div img{
    max-width: 300px;
  }
  
  #news {
    grid-row: 2/3;
    grid-column: 1 / 4;
  }
  #spo {
    grid-column: 1/4;
    grid-row: 3/4;
    display: grid;
    grid-template-rows: 1fr 1fr;
  }

  h1.name {
    margin: 0;
  }
  h2.name {
    margin: 0;
  }

  
  .navigation {
		display: flex;
	}
	.navigation li {
		display: block; /* change state in small view */
		flex: 1 1 auto;
	}
	.navigation a {
		text-align: center;
	}
	.navigation li:first-child {
		display: none;
	}
  
  nav button {
    display: none;
  }
  nav {
    background-color: darkolivegreen;
    margin: 0 auto;
    max-width: 780px;
    border-radius: 10px;
    margin: auto 0;
  }
  nav a {
    font-size: 1.1rem;
  }
  nav ul {
    list-style-type: none;
    overflow: hidden;
    padding-left: 0;
  }
  nav ul li a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 0.75rem;
    text-decoration: none;
    font-size: 0.95rem;
    /*background: linear-gradient(90deg, transparent, yellow, transparent) top /
		var(--d, 0) 10px no-repeat;
	transition: 0.5s;*/
  }
  
}
