@import url('https://fonts.googleapis.com/css2?family=Oleo+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Oleo+Script&display=swap');


header h1 {
    font-family: 'Oleo Script', cursive;
    background-color: darkolivegreen;
    color:white;
    text-align: center;
}

h2, footer {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    background-color: darkolivegreen;
    color: white;
}

.cards section {
    background-color: darkolivegreen;
	margin: 2rem auto;
	max-width: 100%;
    text-align: center;
    border-radius: 8px;
    border: 1px solid #bbb;
    display: block;
}

div.cards {
    display: flex;
    flex-flow: column;
}

img {
    background-color: white;
    max-width: 90%;
}

/* Desktop Views ****************************/
@media screen and (min-width: 60em) {
    .cards section {
        max-width: 50%;
    }

    div.cards {
        display: flex;
        flex-flow: row wrap;
    }
}